window {
margin: 0px;
border: 1px solid #D08B57;
background-color: rgb(44, 42, 36);
}

#input {
margin: 5px;
border: none;
color: #ebdbb2;
background-color: #57402f;
}

#inner-box {
margin: 5px;
border: none;
background-color: #282828;
}

#outer-box {
margin: 5px;
border: none;
background-color: #282828;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #ebdbb2;
}

#entry:selected {
background-color: #57402f;
}